   <h2>使ったコスメに登録する</h2>
    <%#= image_tag (cosmetic['smallImageUrls'][0])  %>
       <%= form_with model: @cosmetic do |f| %>
       <h4>評価</h4>
      
       <p>感想：<%= f.text_area :caption %></p>
       <% end %>

      <%= link_to "内容を保存", cosmetics_show_path, class:"btn btn-success" %>


      </div> 
  </div>
</div>

