<h1>使いたいコスメを登録</h1>
<%= form_with model: @post, url: '/posts', local:true do |f| %>

  <h4>気になる</h4>
  <%= f.text_area :caption %>
  <%= f.hidden_field :cosmetic_id, value: @cosmetic_id %> 
   <%= f.submit '使いたいコスメに登録', class:"btn btn-success" %>
<% end %>