<h2>注文履歴一覧</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active">購入日時</th>
            <th class="table-active">購入者</th>
            <th class="table-active">注文個数</th>
            <th class="table-active">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @post.each do |poast| %>
            <tr>
              <td class="align-middle link">
                <%= link_to post_path(post) do %>
                <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                <% end %>
              </td>
              <td class="align-middle">
                <%= post.customer.last_name+post.customer.first_name %>
              </td>
              <td class="align-middle"><%= post.post_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
